body {
    padding: 0;
    margin: 0;

    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;

    background-image: url(../img/Layer\ 24\ copy.png);
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10;
}

a {
    text-decoration: none;
}

.main-header {
    min-height: 70px;
    margin-bottom: 50px;
    background-color: #000000;

    font-size: 16px;
    line-height: 20px;
    color: #ffffff
}

.main-navigation .container {
    display: flex;
    justify-content: space-between;
}

.main-header-logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin: 0;
    padding: 0;

    width: 150px;
    min-height: 70px;
}

.site-navigation {
    display: flex;
    justify-content: space-between;
    justify-content: flex-start;

    width: 720px;
    min-height: 70px;
    margin: 0;
    padding: 0;

    list-style: none;
}

.user-navigation {
    display: flex;

    max-width: 140px;
    min-height: 70px;
    margin: 0;
    padding: 0;

    list-style: none;
}

.site-navigation a,
.user-navigation a {
    display: block;
    padding: 25px 20px;

    color: #ffffff;
}

.main-header-logo a {
    padding: 22px
}

.main-header-logo a:hover,
.main-header-logo a:focus,
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    background-color: #242424;
}

.user-navigation .login-link {
    position: relative;

    padding-left: 50px;
}

.login-link::before {
    content: "";

    position: absolute;

    top: 28px;
    left: 20px;

    width: 17px;
    height: 18px;

    background-image: url(../img/icon-login.png);
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
    opacity: 1;
}

/* .main-container {
    margin-bottom: 60px;
}

.header-layout-container {
    display: flex;
    justify-content: space-between;
}

.header-layout-container::before {
    display: none;
}

.logo {
    min-height: 75px;
    width: 150px;
    padding-top: 25px;
}

.main-navigation {
    min-height: 75px;
    width: 650px;
}

.user-block {
    min-height: 75px;
    width: 140px;
}

.main-title-container {
    min-height: 65px;
    width: 625px;
    margin-bottom: 60px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.content::before {
    display: none;
}

.content-left {
    width: 490px;
    min-height: 670px;
}

.content-right {
    width: 390px;
    min-height: 670px
}

.availability-layout {
    width: 390px;
    min-height: 270px;
}

.availability {
    padding-top: 25px;
    width: 390px;
    min-height: 12px;
}

.availability-item-number {
    margin-bottom: 45px;
}
.availability-content {
    width: 390px;
    min-height: 135px;
    margin-bottom: 45px;
}

.buy {
    margin-bottom: 70px;
}

.set {
    width: 240px;
    min-height: 170px;
}

.set-title-layout {
    margin-bottom: 45px;
}

.set-items-layout {
    width: 240px;
    min-height: 110px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.images::before {
    display: none;
}

.other-images {
    width: 488px;
}

.image-1 {
    min-height: 150px;
    width: 159px;
}

.image-2 {
    min-height: 150px;
    width: 159px;
}

.image-3 {
    min-height: 150px;
    width: 159px;
}

.main-image {
    width: 488px;
}

.main-footer-layout {
    margin-top: 65px;
    padding-top: 66px;
    padding-bottom: 45px;
}

.main-footer-layout {
    display: flex;
 }

.main-footer-layout::before {
    display: none;
}

.contact {
    min-height: 90px;
    width: 320px;
    margin-right: 60px;
}
  
  .social-media {
    min-height: 90px;
    width: 180px;
}
  
  .developers {
    min-height: 90px;
    width: 160px;
    margin-left: auto;
  } */