body {
    min-height: 1200px;
    min-width: 1122px;
    padding: 0;
    margin: 0;
}

body {
    background: url(../img/Layer\ 24\ copy.png);
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10;
}

.main-container {
    margin-bottom: 60px;
}

.header-layout-container {
    display: flex;
    justify-content: space-between;
}

.header-layout-container::before {
    display: none;
}

.logo {
    min-height: 75px;
    width: 150px;
    padding-top: 25px;
}

.main-navigation {
    min-height: 75px;
    width: 650px;
}

.user-block {
    min-height: 75px;
    width: 140px;
}

.main-title-container {
    min-height: 65px;
    width: 625px;
    margin-bottom: 60px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.content::before {
    display: none;
}

.content-left {
    width: 490px;
    min-height: 670px;
}

.content-right {
    width: 390px;
    min-height: 670px
}

.availability-layout {
    width: 390px;
    min-height: 270px;
}

.availability {
    padding-top: 25px;
    width: 390px;
    min-height: 12px;
}

.availability-item-number {
    margin-bottom: 45px;
}
.availability-content {
    width: 390px;
    min-height: 135px;
    margin-bottom: 45px;
}

.buy {
    margin-bottom: 70px;
}

.set {
    width: 240px;
    min-height: 170px;
}

.set-title-layout {
    margin-bottom: 45px;
}

.set-items-layout {
    width: 240px;
    min-height: 110px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.images::before {
    display: none;
}

.other-images {
    width: 488px;
}

.image-1 {
    min-height: 150px;
    width: 159px;
}

.image-2 {
    min-height: 150px;
    width: 159px;
}

.image-3 {
    min-height: 150px;
    width: 159px;
}

.main-image {
    width: 488px;
}

.main-footer-layout {
    margin-top: 65px;
    padding-top: 66px;
    padding-bottom: 45px;
}

.main-footer-layout {
    display: flex;
 }

.main-footer-layout::before {
    display: none;
}

.contact {
    min-height: 90px;
    width: 320px;
    margin-right: 60px;
}
  
  .social-media {
    min-height: 90px;
    width: 180px;
}
  
  .developers {
    min-height: 90px;
    width: 160px;
    margin-left: auto;
  }