body {
  min-width: 1122px;
  min-height: 1720px;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

body {
  background: #000000 url(../img/tint.svg) center top no-repeat;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  margin-bottom: 60px;
}

.main-header-layout {
  display: flex;
  justify-content: space-between;
}

.main-header-layout::before {
  display: none;
}

.main-navigation {
  width: 780px;
}

.user-block {
 width: 140px;
}

.logo{
  width: 368px;
  height: 204px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
}

.features {
  display: flex;
  justify-content: space-between;
}

.features::before {
  display: none;
}

.features-item {
  min-height: 175px;
  width: 300px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.content::before {
  display: none;
}

.content {
  padding: 50px 80px;
  margin-bottom: 35px;
}

.content-left {
  min-height: 330px;
  width: 380px;
}

.content-right {
  min-height: 330px;
  width: 310px;
}

.main-footer-layout {
  display: flex;
}

.main-footer-layout::before {
  display: none;
}

.main-footer-layout {
  margin-top: 65px;
  padding-top: 66px;
  padding-bottom: 45px;
}

.contact {
  min-height: 90px;
  width: 320px;
  margin-right: 60px;
}

.social-media {
  min-height: 90px;
  width: 180px;
}

.developers {
  min-height: 90px;
  width: 160px;
  margin-left: auto;
}